In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
csv_file  = "superbowl_ads.csv"
superbowl_ads_df = pd.read_csv(csv_file)
superbowl_ads_df.head()

,Year,Product Type,Product/Title,Plot/Notes,Unnamed: 4,Unnamed: 5
0,1969,Car,"Chrysler ""Scuba Diver""[4]",A scuba diver in a dreamy sequence with groovy...,NaN,NaN
1,1970,Car,"Pontiac""Humbler""",A young man pulled up in his GTO to a drive-in...,NaN,NaN
2,1975,Security,"Master Lock""Rifle""",A man attempts to break a Master Lock with a r...,NaN,NaN
3,1976,Copy,"Xerox""Monks""",A monk must make 500 handwritten scriptures fo...,NaN,NaN
4,1979,Soft drink,"Coca-Cola""Hey Kid, Catch!""","A young kid tries to talk to ""Mean"" Joe Greene...",NaN,NaN